
header {
    background-color: #D1D1D1;
    color: white;
    margin: -10px -10px 35px -10px;
}
body { 


}



.seal{
    display: inline-block;
    background-color: #E8E8E8;    
    padding: 25px 40px;
    
}
.three_txt {
    display: inline-block;
    width:200px;
    text-align: left;
    padding-left: 35px;
}
h3{
    margin: 5px auto 10px auto;
}
.three_txt p {
    margin: 5px auto;
}
.big_txt{
    display: inline-block;
    margin: 0;
    padding-top: 0;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    font-size: large;
    line-height: 70%;
    
}
.big_txt h2{

}

#spring {
    font-weight: 50;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.three_txt h3 {
    font-weight: 900;
    font-family: sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}


/* This part styles the main body with two panels*/

.input_panel, .output_panel {
    background-color: #DBDBDB;
    border-radius: 30px;
    display: inline-block;
    width: 650px;
    height: 550px;
    margin: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


}

.imput_panel div {
    float: left;
}

.output_panel {
    float: right;


}

/* input_panel*/

.input_panel h2{
    color:#95989A;
    display: inline-block;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 25px;
    
}

#dia_txt {
    position:relative;
    left: -290px;
    top:85px;
}
#para_txt {
    position: relative;
    left: 50px;
    top: 85px;
    
}
.input_panel img{
    display: inline-block;
    height: 65%;
    width:65%;
    position: relative;
    left: 25px;
    top:55px;
    margin-right: 10px;
}
.panel_heading {
    text-align: center;
}

.type_in{
    position: relative;
    top:30px;
    display: inline-block;
}

}
.input_panel img{
    display: none;
}


.angle_btn button{
    background-color: #008CBA;
    color: white;
    margin-left: 40px; 
    margin-top: 0px;
    padding: 16px;
    font-family: monospace;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 30px;
    
}


.input_panel ul{
    
    list-style: none;
    line-height: 25px;
}
.input_panel ul input{
    width: 50px;
}

.unit{
    font-weight: 300;
    color:darkgrey;
    font-size: 14px;
    margin-top: -8px;
}
/*output panel*/
.output_panel{
    margin-left: 0;
    width:680px;
}
#grav, #simul {
    display:inline-block;
    color:#95989A;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 25px;
}
#grav {
    margin: auto 150px auto 30px;
}

#myCanvas{
    margin-left: 27px;
    margin-top: -20px;
    background-color: white;
}


/* This part styles the footer */


.footer .row {
    background-color: #808080;
    color: white;
    padding: 40px 80px;
    margin: 20px -20px 0px -20px;
}

.col-md-3 {
    display: inline-block;
}
#lecture  {
    position: relative;
    top:-34px;
   
}
#lecture ul {
    margin-right: 50px;
}
.footer h3 {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

}

.title {
    display: inline-block;
    position: relative;
    left: 170px;
    color: white;
    font-family: "helvetica";
    text-align: center;
    border: 1px solid white;
    padding: 15px 32px;
    font-weight: 400;
}
